@page "/"

<h1>Посад печи</h1>

<div>
    <table class="table table-hover">
        <caption>Очередь заготовок на посаде печи</caption>
        <thead>
        <tr>
            @* <th scope="col">№<br />посада</th> *@
            <th scope="col" style="vertical-align: middle">№<br />плавки</th>
            <th scope="col" style="vertical-align: middle">Марка<br />стали</th>
            <th scope="col" style="vertical-align: middle">Код продукции</th>
            <th scope="col" style="vertical-align: middle">Сечение<br />заготовки</th>
            <th scope="col" style="vertical-align: middle">Количество<br />заготовок</th>
            <th scope="col" style="vertical-align: middle">Общий вес<br />заготовок</th>
            <th scope="col" style="vertical-align: middle">Вес одной<br />заготовки</th>
            <th scope="col" style="vertical-align: middle">Длина<br />заготовки</th>
            @* <th scope="col" style="vertical-align: middle">Количество<br />в печи</th> *@
            <th scope="col" style="vertical-align: middle">Увеличить</th>
            <th scope="col" style="vertical-align: middle">Уменьшить</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _landed)
        {
            <tr>
                @* <th scope="row">@item.LandingId</th> *@
                <th scope="row">@item.PlavNum</th>
                <td>@item.Steel</td>
                <td>@item.ProductCode</td>
                <td>@item.Profile</td>
                <td>@item.IngotsCount</td>
                <td>@item.WeightAll</td>
                <td>@item.WeightOne</td>
                <td>@item.IngotLength</td>
                @* <td>@item.Placed</td> *@
                <td><button class="btn btn-primary" @onclick="@(() => IncLanding(item.LandingId))">+</button></td>
                <td><button class="btn btn-primary" @onclick="@(() => DecLanding(item.LandingId))">-</button></td>
            </tr>
        }
        </tbody>
    </table>
</div>


<div id="state" style="display: none;">
    @_message
</div>

