@page "/start"
@inject LandingService _landingService
@inject IJSRuntime JSRuntime;

<div class="row">
    <h1>Посад печи</h1>
    <div style="FONT-WEIGHT: 500; border: 1px solid @_semaphoreColor; border-radius: 50px; background-color: @_semaphoreColor; height: 50%; width: 10px; padding-left: 25px; margin-left: 15px; margin-top: 15px;">&nbsp;</div>
</div>

@* Первая таблица - Очередь перед печью *@
<div id="beforeFurnace">
    <table style="width: 1620px;">
        <div class="h3">Очередь заготовок на посаде печи</div>
        <tr>
            <td>
                <table style="width: 1614px;">
                    <tr>
                        @* <th scope="col">№<br />п/п</th> *@
                        <th scope="col" style="vertical-align: middle; width: 88px;">№<br/>плавки</th>
                        <th scope="col" style="vertical-align: middle; width: 88px;">Профиль</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Диаметр<br />профиля</th>
                        <th scope="col" style="vertical-align: middle; width: 105px;">Марка<br />стали</th>
                        <th scope="col" style="vertical-align: middle; width: 155px;">Код продукции</th>
                        <th scope="col" style="vertical-align: middle; width: 112px;">Сечение<br />заготовки</th>
                        <th scope="col" style="vertical-align: middle; width: 129px;">Количество<br />заготовок</th>
                        <th scope="col" style="vertical-align: middle; width: 114px;">Взвешено<br />бунтов</th>
                        <th scope="col" style="vertical-align: middle; width: 123px;">Общий вес<br />заготовок</th>
                        <th scope="col" style="vertical-align: middle; width: 118px;">Вес одной<br />заготовки</th>
                        <th scope="col" style="vertical-align: middle; width: 124px;">Длина (мм)<br />заготовки</th>
                        <th scope="col" style="vertical-align: middle; width: 132px;">Количество</th>
                        <th scope="col" style="vertical-align: middle; width: 128px;">Порядок</th>
                        <th scope="col" style="vertical-align: middle; width: 90px;">Правка</th>
                        <th scope="col" style="vertical-align: middle; width: 100px;">Удалить</th>
                        <th scope="col" style="vertical-align: middle; width: 15px;">&nbsp;</th>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width:1615px; height:250px; overflow:auto;">
                    <table class="table table-hover">
                        <tbody>
                        @foreach (var item in _beforeFurnace)
                        {
                            if (item.Weighted > 0)
                                _selectRow = "#b1dfbb";
                            else
                                _selectRow = "none";
                            
                            <tr style="background-color: @_selectRow;">
                                <th scope="row" style="width: 88px;">@item.MeltNumber</th>
                                <td style="width: 88px;">@item.ProductProfile</td>
                                <td style="width: 100px;">@item.Diameter</td>
                                <td style="width: 105px;">@item.SteelMark</td>
                                <td style="width: 155px;">@item.ProductCode</td>
                                <td style="width: 112px;">@item.IngotProfile</td>
                                <td style="width: 129px;">@item.IngotsCount</td>
                                <td style="width: 114px;">@item.Weighted</td>
                                <td style="width: 123px;">@item.WeightAll</td>
                                <td style="width: 118px;">@item.WeightOne</td>
                                <td style="width: 124px;">@item.IngotLength</td>
                                <td style="width: 132px; text-align: center">
                                    <button class="btn btn-primary" @onclick="@(() => IncLanding(item.LandingId))">+</button>
                                    <button class="btn btn-primary" @onclick="@(() => DecLanding(item.LandingId))">&minus;</button>
                                </td>
                                @if (item.Weighted > 0)
                                {
                                    <td style="width: 132px;">&nbsp;</td>
                                }
                                else
                                {
                                    <td style="width: 132px; text-align: center">
                                        <button class="btn btn-primary" @onclick="@(() => MoveUp(item.LandingId))">&uarr;</button>
                                        <button class="btn btn-primary" @onclick="@(() => MoveDown(item.LandingId))">&darr;</button>
                                    </td>
                                }

                                <td style="width: 90px; text-align: center">
                                    <button class="btn btn-primary" @onclick="@(() => EditLanding(item.LandingId))">&#128736;</button>
                                </td>
                                @if (item.Weighted > 0)
                                {
                                    <td style="width: 100px;">&nbsp;</td>
                                }
                                else
                                {
                                    <td style="width: 100px; text-align: center">
                                        <button class="btn btn-primary" @onclick="@(() => Remove(item.LandingId))">&times;</button>
                                    </td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

@* Вторая таблица - Заготовки в печи *@
<div id="inFurnace">
    <div class="h3">Заготовки в печи</div>
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <th style="vertical-align: middle; width: 80px;">№<br/>плавки</th>
                        <th style="vertical-align: middle; width: 90px;">Марка<br/>стали</th>
                        <th style="vertical-align: middle; width: 80px;">Диаметр<br />профиля</th>
                        <th style="vertical-align: middle; width: 90px;">Код<br/>продукции</th>
                        <th style="vertical-align: middle; width: 90px;">Сечение<br/>заготовки</th>
                        <th style="vertical-align: middle; width: 80px;">Кол-во<br/>заготовок</th>
                        <th style="vertical-align: middle; width: 120px;">Количество</th>
                        @* <th style="vertical-align: middle; width: 15px;">&nbsp;</th> *@
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div style="height:300px; overflow:auto;">
                    <table class="table table-hover">
                        <tbody>
                        @foreach (var item in _inFurnace)
                        {
                            <tr style="background-color: @_selectRow;">
                                <th scope="row" style="width: 80px;">@item.MeltNumber</th>
                                <td style="width: 90px;">@item.SteelMark</td>
                                <td style="width: 80px;">@item.Diameter</td>
                                <td style="width: 90px;">@item.ProductCode</td>
                                <td style="width: 90px;">@item.IngotProfile</td>
                                <td style="width: 80px;">@item.IngotsCount</td>
                                <td style="width: 120px; text-align: center">
                                    <button class="btn btn-primary" @onclick="@(() => IncLanding(item.LandingId))">+</button>
                                    <button class="btn btn-primary" @onclick="@(() => DecLanding(item.LandingId))">&minus;</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="mill" style="">
    <div class="h3">Заготовки на стане</div>
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <th style="vertical-align: middle; width: 80px;">№<br/>плавки</th>
                        <th style="vertical-align: middle; width: 80px;">Марка<br/>стали</th>
                        <th style="vertical-align: middle; width: 80px;">Диаметр</th>
                        <th style="vertical-align: middle; width: 90px;">Код<br/>продукции</th>
                        <th style="vertical-align: middle; width: 90px;">Сечение<br/>заготовки</th>
                        <th style="vertical-align: middle; width: 90px;">Всего<br/>заготовок</th>
                        <th style="vertical-align: middle; width: 90px;">Кол-во<br/>взвешенных</th>
                        <th style="vertical-align: middle; width: 90px;">Всего<br/>взвешено</th>
                        @* <th style="vertical-align: middle; width: 80px;">Возврат</th> *@
                        <th style="vertical-align: middle; width: 80px;">Брак</th>
                        <th style="vertical-align: middle; width: 100px;">Количество</th>
                        @* <th style="width: 15px;">&nbsp;</th> *@
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div style="height:300px; overflow:auto;">
                    <table class="table table-hover">
                        <tbody>
                        @foreach (var item in _inMill)
                        {
                            <tr style="background-color: @_selectRow;">
                                <th scope="row" style="width: 80px;">@item.MeltNumber</th>
                                <td style="width: 90px;">@item.SteelMark</td>
                                <td style="width: 80px;">@item.Diameter</td>
                                <td style="width: 90px;">@item.ProductCode</td>
                                <td style="width: 90px;">@item.IngotProfile</td>
                                <td style="width: 90px;">@item.IngotsCount</td>
                                <td style="width: 90px;">@item.Weighted</td>
                                <td style="width: 90px;">0</td>
                                <td style="width: 80px;">0</td>
                                <td style="width: 100px; text-align: center">
                                    <button class="btn btn-primary" @onclick="@(() => IncLanding(item.LandingId))">+</button>
                                    <button class="btn btn-primary" @onclick="@(() => DecLanding(item.LandingId))">&minus;</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Номер бунта</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="CoilData">
                    <div class="form-group col-md-5">
                        <InputNumber id="coilNumber" class="form-control" placeholder="номер бунта" @bind-Value="@CoilData.CoilNumber"/>
                    </div>
                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" @onclick="@(() => NextLabelNumber(0))">Установить номер</button>
            </div>
        </div>
    </div>
</div>